* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: grey
}
 
.header {
    background: white;
    padding:20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header img {
    height: 100px;
}

.contenedorDescripcion {
    background: lightgrey;
    padding: 20px;
    margin: 35px auto;
    width: 50%;
    border-radius: 7px;
}