*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background: cyan;
    padding: 18px  ;
    width:100% ;
    display: flex;
    justify-content: space-between;
}
.header img{
    height: 200px;
}
.header h1{
    background: lightgrey;
    
}

.contenedorDescripcion{
    background: aqua;
    padding: 20px;
    margin: 35px auto;
    width: 50%;
    border-radius: 50px;
}